.container{
    background-color: #68478A;
    border-bottom-width: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 15px;
    color: white;
}
body{
    padding-top:10px;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
}
li{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1em;
}
h1, h2, th{
    text-align: center;
}
table{
    table-layout: auto;
}   
.contact{
    font-size: 30px;
}
.textecache{
    display: none;
}
a{
    color: #EC8900;
}
.coordonnees{
    padding: 40px;
    border: 1px solid;    
    border-color: orange;
    color: black;
    border-bottom-left-radius: 170px;
    border-top-right-radius: 170px;
    background-color: #DE5DC9;
}
